<div class='max-w-full w-full px-4 md: md:px-0'>
  <h2 class='text-[24px] leading-[1.3] font-normal mb-2 md:text-[30px] md:leading-[1.2]'>
    {{ banner_product.title | escape }}
  </h2>

  {%- if banner_product.price != blank -%}
    <div class='js-price text-gray mb-12'>
      {%- if banner_product.compare_at_price > banner_product.price -%}
        <span class='text-dark font-semibold'>
          {{- banner_product.price | money -}}
        </span>
        <span class='line-through text-old-price ml-2'>
          {{- banner_product.compare_at_price | money -}}
        </span>
      {%- else -%}
        <span>{{ banner_product.price | money }}</span>
      {%- endif -%}
    </div>
  {%- endif -%}

  {% render 'banner-product-colors', banner_product: banner_product %}
  {% render 'banner-product-sizes', banner_product: banner_product %}

  {%- assign first_variant = banner_product.variants.first -%}
  <a
    href='/cart/add?id={{ first_variant.id }}&quantity=1'
    class='js-add-to-cart block text-center no-underline w-full p-4 bg-dark text-white rounded-lg mb-12 cursor-pointer hover:bg-gray'
  >
    Add To Bag
  </a>

  <div class='text-sm leading-normal text-gray'>
    {{ banner_product.description | truncatewords: 30, '...' }}
  </div>
</div>
